<!DOCTYPE html>

<html lang="es">

    <head>

        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>Conocenos</title>

    </head>

<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-success navbar-dark fixed-top">
        <!-- Brand -->
        <a class="navbar-brand" href="/inicio">Green Leaf</a>
        <img src="image/hoja.png" alt="logo" style="width:40px;">
        <!-- Botón de colapso de menú -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/conocenos">Conócenos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/incidencias">Incidencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/todosdestino">Destinos</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 text-dark bg-light" type="submit">Buscar</button>
            </form>
        </div>
    </nav>

    <br><br><br><br>
    <div class="container">
        <h1 class="text-center">Conócenos</h1>
        <br>
        <p class="text-left">Reciclas. Reutilizas. Reduces. Y haces todo lo posible por causar el menor impacto en tu
            entorno.</p>
        <p class="text-left">¡Gracias por tu esfuerzo, sabemos que a veces no es fácil!</p>
        <p class="text-left">En <a href="/inicio">greenleaf.es</a> queremos ayudarte para seguir mejorando las
            cosas.</p>
        <p class="text-left">Somos el único buscador que te ofrece una propuesta de viajes ecoeficiente, clasificando tu
            hotel, tu circuito y transporte por criterios ecológico-sostenibles.</p>
        <p class="text-left">Y sin que te cueste un euro de más.</p>
        <p class="text-left">Creemos que el cambio es posible. Tú también. ¿Dónde nos vamos?</p>
        <br><br>

        <img class="img-responsive mx-auto d-block" src="image/flores.jpeg" width="1200px" height="350px">
        <br><br><br>

        <h1 class="text-center">Bueno para ti, bueno para el planeta</h1>
        <br>
        <p class="text-left">Podemos reducir las emisiones y el impacto ambiental que los viajes producen en nuestro
            planeta.</p>
        <p class="text-left">Con tu elección, colaboras automáticamente gracias a los criterios de eficiencia y
            responsabilidad medioambiental con los que trabajamos para hacer nuestra oferta.</p>
        <p class="text-left">En <a href="/inicio">greenleaf.es</a> queremos ayudarte para seguir mejorando las
            cosas.</p>
        <p class="text-left">Además, invertimos en proyectos de sostenibilidad con los que tú puedes colaborar.</p>
        <p class="text-left">Viajando con nosotros, ayudas al planeta. Nos ayudas a todos.</p>
        <br><br>

        <img class="img-responsive mx-auto d-block" src="image/tortuga.jpeg" width="1200px" height="350px">
        <br><br><br>

        <h1 class="text-center">Compensa tu viaje</h1>
        <br>
        <p class="text-left">Viajar con <a href="/inicio">greenleaf.es</a> tiene recompensa.</p>
        <p class="text-left">Porque una parte del importe de tu compra lo aportamos a proyectos medioambientales para
            compensar las emisiones del viaje.</p>
        <p class="text-left">Cuantos más viajes realices con nosotros, más compensamos y ayudamos a mitigar el cambio
            climático.</p>
        <br><br><br>

        <img class="img-responsive mx-auto d-block" src="image/dinero.jpeg" width="1200px" height="350px">


    </div>

    <!-- jQuery necesaria para el funcionamiento de la web-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>